<div class="home">
	<div class="right tomster"></div>
	<img width="100px" src="../assets/images/tree.svg">
	<p>The Social Network that doesn't track you.</p>
	<LinkTo @route="login" class="button">Log in</LinkTo>
	<LinkTo @route="signup" class="button">Sign up</LinkTo>
	<Footer />
</div>